<form class="h-full flex flex-col" [formGroup]="heroesForm">
  <div class="flex flex-row flex-wrap justify-center flex-grow">
    <mat-form-field class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" class="w-full" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Alias</mat-label>
      <input matInput formControlName="alias" class="w-full" />
    </mat-form-field>
  </div>
  <div class="flex flex-row flex-wrap justify-center flex-grow">
    <mat-form-field class="w-full">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" class="w-full" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="imagen_url" class="w-full" />
    </mat-form-field>
  </div>
  <!--FIXME-->
  <div class="flex justify-center overflow-auto">
    <mat-form-field class="w-full h-44 flex-grow">
      <mat-label>Historia</mat-label>
      <textarea
        matInput
        formControlName="historia"
        class="w-full h-full"></textarea>
    </mat-form-field>
  </div>

  <mat-dialog-actions class="mat-dialog-actions-button">
    <button mat-raised-button (click)="closeDialog()">Cancelar</button>
    <button
      mat-raised-button
      [disabled]="heroesForm.invalid"
      (click)="submitForm()"
      color="primary">
      Ok
    </button>
  </mat-dialog-actions>
</form>
