<div class="flex flex-col p-20 h-full ">
  <div class="flex flex-row gap-4 justify-center items-center">
    <div class="basis-1/4">
      <mat-form-field appearance="outline" class="w-full mt-5">
        <mat-label>Buscar heroe</mat-label>
        <input [(ngModel)]="value" upperCase class="rounded-2xl" matInput type="text">
        @if (value) {
          <button (click)="value=''; findByName()" aria-label="Clear" mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        }
        <button (click)="findByName()" aria-label="Find" mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button (click)="addNewHero()" aria-label="Añadir nuevo heroe" color="primary" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if(length === 0) {
    <div class="flex flex-col items-center justify-center flex-grow">
      <h2 class="text-2xl font-bold text-gray-500 dark:text-gray-400">No hay heroes</h2>
    </div>
  } @else {
  <div class="flex flex-col items-center flex-grow overflow-y-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4 gap-16">
      @for (hero of heroes(); track hero.id) {
        <div
          class="flex flex-col max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="basis-1/2">

            <img class="rounded-t-lg object-cover h-72 w-96"
                 src="{{hero.imagen_url}}"
                 alt="hero-image">
          </div>
          <div class="flex flex-col p-5 basis-1/2">
              <h2 class="mb-2 font-bold text-white">
                {{ hero.nombre | titlecase }}
              </h2>

            <p class="mb-3 text-gray-300">
              {{ hero.alias | titlecase }}
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              @if (hero.tags === 'marvel') {
                <img ngSrc="assets/imgs/logos/marvellog_48x48.webp" alt="logo" height="48"
                     width="48">
              } @else {
                <img ngSrc="assets/imgs/logos/dc.png" alt="logo" height="36"
                     width="36">
              }
            </p>
            <div class="mt-auto flex flex-row gap-3 justify-between">
            <a [routerLink]="['detalle', hero.id]"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Saber más
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
              <button class="transition hover:opacity-70 hover:scale-125" [matMenuTriggerFor]="menu"><mat-icon class="text-white">more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editHero(hero)" ><mat-icon>edit</mat-icon>Editar</button>
                <button mat-menu-item (click)="deleteHero(hero.id)" ><mat-icon>delete</mat-icon>Eliminar</button>
              </mat-menu>
            </div>

          </div>
        </div>
      }


    </div>
  </div>
  }
  <div class="fixed bottom-0 left-0 w-full bg-white p-4">
    <mat-paginator
      (page)="pageChanged($event)"
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>
