<div class="flex flex-col p-20 h-full ">
  <div class="flex flex-row flex-wrap gap-4 justify-center items-center">
    <div class="basis-1/4">
      <mat-form-field appearance="outline" class="w-full mt-5">
        <mat-label>Buscar heroe</mat-label>
        <input [(ngModel)]="value" matInput type="text" class="rounded-2xl">
        @if (value){
          <button (click)="value=''; findByName()" aria-label="Clear" mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        }
        <button (click)="findByName()" aria-label="Find" mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button (click)="addNewHero()" color="primary" mat-fab aria-label="Añadir nuevo heroe">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="flex-grow overflow-y-auto">
    <div class="flex flex-row flex-wrap gap-2 justify-center">
      @for (hero of heroes(); track hero.id) {
        <mat-card appearance="raised" class="mat-card-flex basis-1/4 h-64 ">
          <div class="basis-2/3">
            <img
              class="rounded-sm w-full h-full"
              src="{{hero.imagen_url}}"
              alt="hero pic" />
          </div>
          <div class="flex flex-col basis-2/3">
            <mat-card-header class="flex flex-col gap-2">
              <div class="flex flex-row justify-between items-center">
                <span class="font-bold basis-4/5">{{ hero.nombre | titlecase }} </span>
                <div class="basis-1/5">
                  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editHero(hero)" ><mat-icon>edit</mat-icon>Editar</button>
                    <button mat-menu-item (click)="deleteHero(hero.id)" ><mat-icon>delete</mat-icon>Eliminar</button>
                  </mat-menu>
                </div>

              </div>
              <span>{{ hero.alias | titlecase }}</span>
              @if(hero.tags === 'marvel'){
                <img ngSrc="assets/imgs/logos/marvellog_48x48.webp" alt="logo" height="48"
                     width="48">
              } @else {
                <img ngSrc="assets/imgs/logos/dc.png" alt="logo" height="36"
                     width="36">
              }
            </mat-card-header>
            <mat-card-actions class="mt-auto ml-auto">
              <button
                mat-raised-button
                color="primary"
                [routerLink]="['detalle', hero.id]">
                Ver más
              </button>
            </mat-card-actions>
          </div>
        </mat-card>
      }
    </div>
  </div>
  <div class="fixed bottom-0 left-0 w-full bg-white p-4">
    <mat-paginator
      (page)="pageChanged($event)"
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>
