<div class="flex-1 p-28 flex flex-col gap-4">
  <div class="flex flex-row flex-wrap gap-4 justify-between items-center">
    <div class="flex flex-row gap-2">
      <button (click)="addNewHero()" color="primary" mat-raised-button>
        Añadir nuevo heroe
      </button>
      <button
        (click)="value = ''; findByName()"
        [disabled]="!value"
        color="secundary"
        mat-raised-button>
        Limpiar filtro
      </button>
    </div>
    <div class="basis-1/4">
      <label
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        for="search"
      >Buscar</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg
            aria-hidden="true"
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            fill="none"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2" />
          </svg>
        </div>
        <input
          [(ngModel)]="value"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="search"
          placeholder="Buscar heroe por su nombre..."
          type="search" />
        <button
          (click)="findByName()"
          class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="submit">
          Buscar
        </button>
      </div>
    </div>
    <mat-paginator
      [length]="20"
      [pageSizeOptions]="[10, 50, 100]"
      aria-label="Select page">
    </mat-paginator>
  </div>

  <div class="flex flex-row flex-wrap gap-4 justify-start">
    @defer (when allHeroes | async) {
      @for (heroes of allHeroes | async; track heroes.id) {
        <mat-card appearance="outlined" class="basis-1/6">
          <mat-card-header>
            <mat-card-title>{{ heroes.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ heroes.alias }}</mat-card-subtitle>
          </mat-card-header>
          <img
            class="mx-3 rounded-lg"
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" />
          <mat-card-content class="mt-5">
            <p style="max-height: 60px; overflow: auto">
              {{ heroes.descripcion }}
            </p>
          </mat-card-content>
          <mat-card-actions class="mt-auto">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['detalle', heroes.id]">
              Ver más
            </button>
            <button (click)="editHero(heroes)" mat-button>Editar</button>
            <button (click)="deleteHero(heroes.id)" mat-button>Eliminar</button>
          </mat-card-actions>
        </mat-card>
      }
    }
  </div>
</div>
