<div class="flex-1 p-28 flex flex-col gap-4">
  <div class="flex flex-row justify-start">
    <button (click)="addNew()" mat-raised-button color="primary">Añadir</button>
    <div class="m-auto">input</div>
  </div>
  <div class="flex flex-row flex-wrap gap-4 justify-start content-start">
    @for (heroes of allHeroes | async; track heroes.id) {
      <mat-card appearance="outlined" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ heroes.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ heroes.alias }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-card-content>
          <p>
            {{ heroes.descripcion }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="checkDetail(heroes.id)">
            Ver más
          </button>
          <button mat-button>Editar</button>
          <button (click)="deleteHero(heroes.id)"  mat-button>Eliminar</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
