.mat-dialog-actions-button {
  display: flex !important;
  justify-content: flex-end !important;
  gap: 4px !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin-top: auto !important;
}

.textarea-size {
  height: 200px !important;
}
